<%- include("./partials/head") %>

<h3 id="headings">Watch Lists</h3>
<main>
    <% if(lists.length) { %>
        <div class="role" id="director">
            Director
        </div>

        <div class="flex">
        <% for(i of lists) { %> 
            <% if(i.category === "director") { %> 
            <div class="dname">
                <%= i.name %>
            </div>
            <% } %>
        <% } %>
        </div>
        <br>

        <div class="role" id="editor">
            Editor
        </div>
        <div class="flex">
        <% for(i of lists) { %> 
            <% if(i.category === "editor") { %>  
            <div class="ename">
                <%= i.name %>                    
            </div>
            <% } %>
        <% } %>
        </div>
        <br>
        
        <div class="role" id="cinematographer">
            Cinematographer
        </div>
        <div class="flex">
        <% for(i of lists) { %> 
            <% if(i.category === "cinematographer") { %>
            <div class="cname">
                <%= i.name %>
            </div>
            <% } %>
        <% } %>
        </div>
        <br>

        <div class="role" id="writer">
            Writer
        </div>
        <div class="flex">
        <% for(i of lists) { %> 
            <% if(i.category === "writer") { %>
            <div class="wname">
                <%= i.name %>
            </div>
            <% } %>
        <% } %>
        </div>
        <br>

        <div class="role" id="composer">
            Composer
        </div>
        <div class="flex">
        <% for(i of lists) { %> 
            <% if(i.category === "composer") { %>
            <div class="coname">
                <%= i.name %>
            </div>
            <% } %>
        <% } %>
        <br>
        </div>
        
    <% } else { %>
        <div>You have not created any lists ye!</div> 
    <% } %>
</main>
<script src="/javascripts/scripts.js"></script>
</body>
</html>