<%- include("./partials/head") %>

<h3 id="headings">Watch Lists</h3>
<main>
    <div class="role" id="director">
        <span>Directing</span>
    </div>
    <div class="role" id="editor">
        <span>Editing</span>
    </div>
    <div class="role" id="cinematographer">
        <span>Cinematography</span>
    </div>
    <div class="role" id="writer">
        <span>Writing</span>
    </div>
    <div class="role" id="composer">
        <span>Composing</span>
    </div>

    <div class="flex">
        <% for(i of lists) { %> 
            <% if(i.category === "director") { %> 
            <div class="names dname"><span><%= i.name %></span></div>

            <div>
                <% for(let j of i.films) { %>
                    <span><%= j.title %></span>
                <% } %>
            </div>

            <% } %>
        <% } %>
        
        <% for(i of lists) { %> 
            <% if(i.category === "editor") { %>  
            <div class="names ename"><span><%= i.name %></span></div>                    
            <% } %>
        <% } %>
        
        <% for(i of lists) { %> 
            <% if(i.category === "cinematographer") { %>
            <div class="names cname"><span><%= i.name %></span></div>
            <% } %>
        <% } %>
       
        <% for(i of lists) { %> 
            <% if(i.category === "writer") { %>
            <div class="names wname"><span><%= i.name %></span></div>
            <% } %>
        <% } %>
        
        <% for(i of lists) { %> 
            <% if(i.category === "composer") { %>
            <div class="names coname"><span><%= i.name %></span></div>
            <% } %>
        <% } %>
    </div>
   
</main>
<script src="/javascripts/scripts.js"></script>
</body>
</html>